.ingredients{
    width: 100px;
    height: 100px;
    background-color: #FFBB5C;
    color: white;
    border-radius: 10px;
    display: flex;
    margin: 15px;
    justify-content: center;
    align-items: center;
}