.main_addtocart {
    display: flex;
    flex-direction: column;
    width: 270px;
    text-align: center;
    // height: 210px;
    // padding: 10px;
    margin: 10px 20px 10px 0;
    border: 1px solid #000;
    border-radius: 10px;
    // white-space: nowrap;

    .addtocart_top {
        display: flex;
        flex-direction: column;
        padding: 10px;

        .addtocart_img {
            img {
                width: 130px;
                height: 130px;
                border-radius: 50%;
                padding: 8px;
            }
        }

        .addtocart_heading {
            color: rgb(0, 0, 0);
            padding: 10px;

            p {
                font-size: 18px;
            }

            .addtocart_size_btn {
                display: flex;

                .addtocart_btn {
                    background-color: #fff;
                    border-radius: 5px;
                    padding: 5px;
                    margin: 3px;
                    border: 1px solid grey;
                }

                .addtocart_btn:hover {
                    background-color: #ffbb5c;
                    color: #fff;
                }
            }
        }
    }

    .addtocart_bottom {
        border-top: 1px solid black;
        // padding: 8px;


        .addtocart_bottom_add_btn {
            color: rgb(0, 0, 0);
            font-weight: 500;
            font-size: 16px;
            border: none;
            border-radius: 10px;
            width: 100%;
            padding: 10px;
        }
        
        .checkout_bottom_remove_btn {
            font-weight: 600;
            font-size: 15px;
            color: rgb(0, 0, 0);
            background-color: rgb(255, 255, 255);
            border: none;
            padding: 10px;
            border-radius: 10px;
            width: 100%;
        }
        .checkout_bottom_remove_btn:hover {
            color: rgb(255, 255, 255);
            background-color: #ffbb5c;
            border-radius: 0px 0px 10px 10px;
        }


        .addtocart_bottom_add_btn:hover {
            color: white;
            background-color: red;
            border-radius: 0px 0px 10px 10px;
        }
    }
}
