.main_checkout {
    margin: 10px;
    background-color: #22222A;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 220px;
    // height: 200px;
    // margin: auto;
    // margin-top: 10px;
    // gap: 10px;
    border-radius: 10px;
    padding: 10px;

    .checkout_top {
        display: flex;
        padding: 10px;

        .image img {
            padding: 8px;
            border-radius: 50%;
            width: 130px;
            height: 130px;
        }

        .checkout_heading {
            color: #fff;
            padding: 10px;

            h3 {
                white-space: nowrap;
                font-size: 18px;
            }

            .inc_dec_btn {
                display: flex;
                align-items: center;

                h4 {
                    font-size: 18px;
                }
                .checkout_btn {
                    background-color: #ffbb5c;
                    color: rgb(255, 255, 255);
                    border-radius: 50%;
                    border: none;
                    width: 20px;
                    height: 20px;
                    margin: 10px 5px;
                }
            }
        }
    }

    .checkout_bottom {
        display: flex;
        // justify-content: space-around;

        .checkout_bottom_btn {
            font-weight: 600;
            font-size: 15px;
            color: rgb(0, 0, 0);
            background-color: rgb(255, 255, 255);
            border: none;
            padding: 10px;
            width: 50%;
        }
        .checkout_bottom_btn:hover {
            color: rgb(255, 255, 255);
            background-color: #ffbb5c;
        }
    }
}