.payment_bottom_btn{
    width: 400px;
    margin: auto;
    background-color: red;
    padding: 15px;
    text-align: center;
    color: white;
    font-weight: 500;
    position: absolute;
    bottom: 10%;
    cursor: pointer;
}