.main_cform_div {
    background-color: #ffbb5c;
    width: 100%;
    height: 100vh;
    display: flex;
    padding-right: 50px;
    .form_div {
        width: 90%;
        height: 90vh;
        margin: auto;
        padding: 30px;
        border-radius: 30px;
        background-color: #fff;

        .form {
            margin: 20px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 50px;

            input {
                color: #000;
                margin: 20px;
                padding: 7px 15px;
                width:100% ;
                font-size: 16px;
            }
            select {
                color: #000;
                margin: 20px;
                padding: 7px 15px;
                width: 100%;
            }
            option {
                color: #000;
                margin: 20px;
                padding: 7px 15px;
                width: 100%;
                font-size: 15px;
            }
            label {
                font-size: 20px;
                font-weight: 600;
                color: #474545;
            }

            .addcashier {
                cursor: pointer;
                width: 200px;
                font-size: 15px;
                text-transform: uppercase;
                border: none;
                border-radius: 10px;
                padding: 10px;
                color: #fff;
                background-color: #0080ff;
            }
        }
    }
}
